# Python / Bytecode
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env.local

# Virtual Environments
venv/
env/
.venv/

# Django Database
db.sqlite3
db.sqlite3-journal

# Logs
*.log
nohup.out

# Media and Static files (optional, depending on if you track collectstatic results)
media/
# staticfiles/

# Celery
celerybeat-schedule
celerybeat.pid

# OS and IDE Specific
.DS_Store
.vscode/
.idea/
